.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.nav > li > a {
  padding-top: 15px;
}

.navbar-signout-link {
  color: #9d9d9d;
}

.nav > li > a:hover {
  color: #ffffff;
  background-color: #222222;
}
